*{
    margin: 0;padding: 0;
}
body::before,body::after{
    box-sizing: border-box;
}
.container-fluid{
    background: #000;width: 100%;height: 100%;  position: absolute;top: 0;left: 0;align-items: center;
    display: flex;justify-content: center;background-size: cover;opacity: 1;
}
img{
    height: 22px;
}
h1{
    font-size: 5rem;
    margin: 10rem 0 1.5rem;
    text-align: center;
    color: #fff;  
}
.style1{
    color: lime;
    font-weight: bolder;font-family:   Verdana, sans-serif;
}
.style2{
    color: lime;
}
.style_input{
    height: 2.5rem;border-radius: 15px;width: 100%;  
}
.input_div{
    width: 100%;display: flex;justify-content: center;align-items: center;margin-bottom: 1.5rem;margin-left: auto;margin-right: auto;
    width: 43%;flex-wrap: wrap;
}
.row{
    width: 100%;height: 100%;
}
.input_div input{
    padding: 0.5rem 1rem;height: 50px;outline: none;background: #fff;width: auto;font-size: 1.5rem;
    margin: 0.25rem;border-radius: 25px;
}
.add{
    height: 50px;width: 50px;border-radius: 25px;outline: none;border: none;background-color: #fff;color: lime;margin: 0.25px;
    background-color: lime;
}
.set{
    height: 50px;width: 50px;border-radius: 25px;outline: none;border: none;background-color: #fff;color: lime;margin: 5px;
    background-color: red;
}
.allcheck{
    height: 50px;width: 50px;border-radius: 25px;outline: none;border: none;background-color: #fff;color: lime;margin: 5px;
    background-color: yellowgreen ;
}
.uncheck{
    height: 50px;width: 50px;border-radius: 25px;outline: none;border: none;background-color: #fff;color: lime;margin: 5px;
    background-color:  rgba(235, 4, 127, 0.959);

}
.allcheck:hover{
    opacity: 0.7;
}
.uncheck:hover{
    opacity: 0.7;
}
.styl{
    width: 100%;
}
.add:hover{
    opacity: 0.7;
}
.set:hover{
    opacity: 0.7;
}
.modal_content{
    display: flex;justify-content: center;align-items: center;flex-direction: center;text-align: center;margin:1rem;
}
.item{
    padding: 0.5rem;margin-bottom: 1.5rem;border-bottom: 4px solid #fff;width: 430px;display: flex;
    margin-left: auto;margin-right: auto;
}
.item_input{
    background: none;outline: none;color: #fff;border: none;width: 350px;font-size: 1.4rem;
}
.remove_btn{
    font-size: 1.5rem;font-family: impact;background:none;width: 30px;float: left;
    outline: none;border: none;color: white;

}
.edit_btn{
color: white;border: none;outline: none;background: none;margin-right: 10px;
float:left;font-size: 1.2rem;width: 30px;
}
.dialog{
    width: 100%;height: 85%;position: absolute;top: 0;display: none;z-index: 7;
    background-color: rgba(255, 255, 255, 0.7);left: 0;padding-top: 150px;
}
.dialog_content{
    width: 580px;height: 310px;background: url(../img/eau_nature.jpg);border: 2px solid white;  margin: 0 auto;border-radius: 10px;text-align: center;
    position: relative;padding-top: 10px;opacity: 1;
}
.close{
    transform: rotate(45deg);font-size: 40px;position: absolute;top: 0px;right: 15px;
    color: red;cursor: pointer;
}
.dialog_content input{
    width: 50%;display: block;margin: 0 auto;height: 30px;border-radius: 10px;
    padding-left: 7px;margin: 45px auto 15px auto;
}
.dialog_content h1{
    margin: 15px auto;
}
.dialog_content button{
    height: 50px;width: 70px;border-radius: 25px;outline: none;border: none;color:;background-color: lime;
}
.dialog_content button:hover{
    height: 50px;width: 70px;border-radius: 25px;outline: none;border: none;opacity: 0.7;
}
.dialog_content .stylo{
    color: lime;
}
ul{
    list-style-type: none;
}
.edit_btn{
    float: right;
}




.cad img{
    z-index:2;
}
.ico_lig{
    flex-wrap: wrap;z-index: 5;width:75px;display: inline;position: absolute;right: 0;top: 200px;
    box-sizing: border-box;
}
.cad{
    width: 40px;height: 40px;background-color:rgba(255, 255, 255, 0.1);margin: 15px;
    display: flex;justify-content: center;align-items: center;border-radius: 50%;
    overflow: hidden;flex-wrap: wrap;position: relative;
}
.col1{
    width: 40px;height: 40px;background-color: royalblue;display: block;
    position: absolute;top: -60px;z-index:1;transition: 0.4s;
}
.col2{
    width: 60px;height: 60px;background-color: deepskyblue;display: block;
    position: absolute;top: -60px;z-index:1;transition: 0.4s;
}
.col3{
    width: 60px;height: 60px;background-color: rgb(10, 209, 10);display: block;
    position: absolute;top: -60px;z-index:1;transition: 0.4s;
}
.col4{
    width: 60px;height: 60px;background-color: purple;display: block;
    position: absolute;top: -60px;z-index:1;transition: 0.4s;
}
.cad:hover  .col1{
   top: 0;
}
.cad:hover  .col2{
    top: 0;
}
.cad:hover  .col3{
   top: 0;
}
.cad:hover  .col4{
    top: 0;
}
.logo{
    width: 100%;height: 5rem;background-image: url(../img/logo.png);background-repeat: unset;
}


@media only screen and  (max-width:550px){
    .ico_lig{
        flex-wrap: wrap;width:75px;display: inline;position: absolute;;top: 280px;
        box-sizing: border-box;
    }
    .cad{
        width: 40px;height: 40px;background-color:rgba(255, 255, 255, 0.1);margin: 9px;
        display: flex;justify-content: center;align-items: center;border-radius: 50%;
        overflow: hidden;flex-wrap: wrap;position: relative;
    }
    h1{
        font-size: 3.5rem;
        margin: 10rem 0 1.5rem;
        text-align: center;
        color: #fff;  
    }
}


